<html>
	 <!--<a href="http://jquery.com/"></a>
    <script src="jquery.js"></script>
    <script>
 	// Using validation to check for the presence of an input
	$( "#form" ).submit(function( event ) {
    // if .required's value's length is zero
    if ( $( ".required" ).val().length === 0 ) {
        // usually show some kind of error message here
 
        // this prevents the form from submitting
        return false;
    } else {
        // run $.ajax here
    }
});
    // Your code goes here.
 
    </script>-->
    <head>
        <link rel="stylesheet" href="/static/css/bootstrap.min.css" />
        <link rel="stylesheet" href="/static/css/style.css" />
        <script src = "/static/js/jquery.min.js"></script>
        {% block head %}{% endblock %}
    </head>
    <body>
        <div class="navbar navbar-inverse navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">SF City Dog Walks</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/logout">Log Out</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            {% for message in messages %}
            <ul class="flashes">
                <li>{{message}}</li>
            </ul>
            {% endfor %}
            {% endif %}
            {% endwith %}
            
            {% block body %}
            {% endblock %}
        </div>

    </body>


</html>
