{% extends 'base.html' %}
{% block body %}
  <head>
      <script type="text/javascript" src="/static/prototype.js"></script>
      <script type="text/javascript" src="/static/calendarview.js"></script>
      <script type="text/javascript">
        window.onload = function() {
          Calendar.setup({
            dateField      : 'date',
            triggerElement : 'calendarButton'
          })
        }
      </script>
      <link rel="stylesheet" type ="text/css" href="/static/css/calendar.css">
  </head>
<body>
    <div class="Calendar">
    <form action= "/book" class="form-signin" method="POST">
    <input type="text" name="date" id="date" />
    <input type="button" id="calendarButton" value="Choose Date"/>
    </div>

  <!--Got this bit of code from bootstrap. It isn't working. Not sure why not.
  <div class="dropdown">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
    Choose Time Slot
    <span class="caret"></span>
  </button>
    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Action</a></li>
      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Another action</a></li>
      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Something else here</a></li>
      <li role="presentation" class="divider"></li>
      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Separated link</a></li>
  </ul>
</div>-->



      <h3>Choose Time Slot</h3>
        <select name="time_slots">
          <option value="morning">Morning</option>
          <option value="midday">Midday</option>
          <option value="afternoon">Afternoon</option>
        </select>
      <h3>Repeat</h3>
            <input type="radio" name="repeat" value="True">Yes<br>
            <input type="radio" name="repeat" value="False">No<br> 
      <h3><button type="btn btn-lg btn-primary btn-block" type="submit">Book Now</button></h3>
    </form>
</body>
{% endblock %}