<html>
<form action= "/login" class="form-signin" method="POST">
    <h2 class="form-signin-heading">Please Sign Up</h2>
    	<h3> Your Information </h3>
    		<input name= "First_Name" type="text" class="form-control" placeholder="First Name"/>
    		<input name= "Last_Name" type="text" class="form-control" placeholder="Last Name"/>
    		<input name= "Phone" type="text" class="form-control" placeholder="Telephone"/>
    		<input name= "Address" type="text" class ="form-control" placeholder="Address"/>
    		<input name= "email" type="email" class="form-control" placeholder="Email Address"/>
    		<input name= "password" type="password" class="form-control" placeholder="Password"/>
    	<h3> Your Dog's Information </h3>
    		<input name="dog_name" type="text" class="form-control" placeholder="Dog Name"/>
    		<input name="dog_breed" type="text" class="form-control" placeholder="Dog Breed"/>
    		<input name="gender" type="text" class="form-control" placeholder="Gender"/>
    		<input name="age" type="text" class="form-control" placeholder="Age"/>
    		<input name="wieght" type="text" class="form-control" placeholder="Weight"/> 
    	<h3>Vet's Information</h3>
    		<input name="vet_name_first" type="text" class="form-control" placeholder="First Name"/>
    		<input name="vet_name_last" type="text" class="form-control" placeholder="Last Name"/>
    		<input name="address" type="text" class="form-control" placeholder="Address"/>
    		<input name="telephone" type="text" class="form-control" placeholder="Telephone"/>
    	<h3>Emergency Contact Information</h3>
    		<input name="contact_first" type="text" class="form-control" placeholder="First Name"/>
    		<input name="contact_last" type="text" class="form-control" placeholder="Last Name"/>
    		<input name="phone" type="text" class="form-control" placeholder="Telephone"/>
		<h3><button type="btn btn-lg btn-primary btn-block" type="submit">Sign Up</button></h3>
</form>
</html>