{% extends 'base.html' %}
{% block head %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
	<script type="text/javascript">
  // This identifies your website in the createToken call below
  Stripe.setPublishableKey("pk_test_4UELhUOOnnG5316O2PaHKhbY");
  // ...
</script>
{% endblock %}
{% block body %}
<form action="/payment" method="POST" id="payment-form">
  <input type="hidden" name="Payment" value="{{ total_payment }}">
  <script
    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key="pk_test_4UELhUOOnnG5316O2PaHKhbY"
    data-amount="{{ total_payment }}"
    data-name="Demo Site"
    data-description="{{ total_appointments }} walks ${{ total_payment/100 }}0"
    data-image="/128x128.png">
  </script>
</form>

<form action= "/profile" class="form-profile" method="GET">
<h3><button type="btn btn-lg btn-primary btn-block" type="submit">My Profile</button></h3>
</form>

{% endblock %}