{% extends 'base.html' %}
{% block body %}
  <div class="panel panel-default">
  <div class="panel-body">
    <h2>{{ display_user.first_name }} {{ display_user.last_name }}</h2>
    {% if display_user.profile_pic %}
        <div><img width=200 height=200 src = "/static/img/{{display_user.profile_pic}} "></div>
    {% else %}
        <img src = "/static/img/no-image.gif">
        <form action= "/photo_upload" class="form-profile_pic" 
        method="POST" enctype="multipart/form-data">
            <p><input type="file" name="file">
            <input type="submit" value="Upload">
            </p>
        </form>
    {% endif %}
    </div>
    </div>
    <form action= "/book" class="form-profile" method="GET">
      <button type="btn btn-lg btn-primary btn-block" type="submit">Book Now</button>
    <h3>Upcoming Appointments</h3>
    {% for future_appointment in display_user.sorted_appointments()[0] %}
      {{ future_appointment.date }}
    {% endfor %}
    <h3>Past Appointments</h3>
    {% for future_appointment in display_user.sorted_appointments()[1] %}
      {{ future_appointment.date }}
    {% endfor %}
</form>

  <!--<form action= "/book" class="form-instagram" method="GET">
  <link rel="stylesheet" href="/static/css/style.css" />-->
  <script src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js' 
  type='text/javascript' charset='utf-8'></script>
  <script type="text/javascript" src="/static/instagram.js"></script>

  <script>
    var nickname_tags = [];

    {% for nickname in nicknames %}
      nickname_tags.push('{{ nickname }}'.toLowerCase());
    {% endfor %}

    Instagram.search(nickname_tags);
  </script>
  <div class="panel panel-default">
  <div class="panel-body">
  <div id='photos-wrap'></div>
  </div>
    <style>
      .full-screen-image {
        background-size: cover;
      }
    </style>

      <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
      <script src = "http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
      <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>


  </head>

  <body>

<div id="carousel-example-generic" class="carousel slide " data-ride="carousel">
  <!-- Indicators -->
  <!--<ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
  </ol>-->

  <!-- Wrapper for slides -->
  <div class="carousel-inner">

  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>
  </div>
</div>


<!--
<div class="row">
  <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img data-src="holder.js/100%x180" alt="what is this?">
    </a>
  </div>
</div>-->
<?php
    /* Send an SMS using Twilio. You can run this file 3 different ways:
     *
     * - Save it as sendnotifications.php and at the command line, run 
     *        php sendnotifications.php
     *
     * - Upload it to a web host and load mywebhost.com/sendnotifications.php 
     *   in a web browser.
     * - Download a local server like WAMP, MAMP or XAMPP. Point the web root 
     *   directory to the folder containing this file, and load 
     *   localhost:8888/sendnotifications.php in a web browser.
     */
 
    // Step 1: Download the Twilio-PHP library from twilio.com/docs/libraries, 
    // and move it into the folder containing this file.
    require "Services/Twilio.php";
 
    // Step 2: set our AccountSid and AuthToken from www.twilio.com/user/account
    $AccountSid = "ACXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX";
    $AuthToken = "YYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYY";
 
    // Step 3: instantiate a new Twilio Rest Client
    $client = new Services_Twilio($AccountSid, $AuthToken);
 
    // Step 4: make an array of people we know, to send them a message. 
    // Feel free to change/add your own phone number and name here.
    $people = array(
        "+14158675309" => "Curious George",
        "+14158675310" => "Boots",
        "+14158675311" => "Virgil",
    );
 
    // Step 5: Loop over all our friends. $number is a phone number above, and 
    // $name is the name next to it
    foreach ($people as $number => $name) {
 
        $sms = $client->account->messages->sendMessage(
 
        // Step 6: Change the 'From' number below to be a valid Twilio number 
        // that you've purchased, or the (deprecated) Sandbox number
            "YYY-YYY-YYYY", 
 
            // the number we are sending to - Any phone number
            $number,
 
            // the sms body
            "Hey $name, Monkey Party at 6PM. Bring Bananas!"
        );
 
        // Display a confirmation message on the screen
        echo "Sent message to $name";
    }
    ?>
{% endblock %}
