{% extends 'base.html' %}
{% block body %}
<html>
<head>
  <body>
    <h2>{{ display_user.first_name }} {{ display_user.last_name }}</h2>
    {% if display_user.profile_pic %}
        <div><img width=200 height=200 src = "/static/img/{{display_user.profile_pic}} "></div>
    {% else %}
        <img src = "/static/img/no-image.gif">
        <form action= "/photo_upload" class="form-profile_pic" 
        method="POST" enctype="multipart/form-data">
            <p><input type="file" name="file">
            <input type="submit" value="Upload">
            </p>
        </form>
    {% endif %}
    <form action= "/book" class="form-profile" method="GET">
      <button type="btn btn-lg btn-primary btn-block" type="submit">Book Now</button>
    <h3>Upcoming Appointments</h3>
    {% for future_appointment in display_user.sorted_appointments()[0] %}
      {{ future_appointment.date }}
    {% endfor %}
    <h3>Past Appointments</h3>
    {% for future_appointment in display_user.sorted_appointments()[1] %}
      {{ future_appointment.date }}
    {% endfor %}
</form>

  <!--<form action= "/book" class="form-instagram" method="GET">
  <link rel="stylesheet" href="/static/css/style.css" />-->
  <script src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js' 
  type='text/javascript' charset='utf-8'></script>
  <script type="text/javascript" src="/static/instagram.js"></script>

  <script>
    var nickname_tags = [];

    {% for nickname in nicknames %}
      nickname_tags.push('{{ nickname }}'.toLowerCase());
    {% endfor %}

    Instagram.search(nickname_tags);
  </script>
  <div id='photos-wrap'></div>
  </div>
    <style>
      .full-screen-image {
        background-size: cover;
      }
    </style>

      <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
      <script src = "http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
      <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>


  </head>

  <body>

<div id="carousel-example-generic" class="carousel slide " data-ride="carousel">
  <!-- Indicators -->
  <!--<ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
  </ol>-->

  <!-- Wrapper for slides -->
  <div class="carousel-inner">

  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>
  </body>
</head>
</html>
{% endblock %}
